= stylesheet_link_tag "member/finance"
#page.finance
	#main.clearfix
		#content.finance_his
			.title
				%ul
					%li.btn_tab_selected
						%a{:href=>'javascript:void(0);'} 收入明细
					%li.btn_tab
						%a{:href=>'/member/month_review/index'} 每月审核明细
					%li.btn_tab
						%a{:href=>'/member/takemoney/index'} 提现明细
					%li.btn_tab
						%a{:href=>'/member/reward/index'} 奖励明细
			.table_his
				.date_box
				= form_tag("/member/income/index", method: "get") do
					%span
						= datetime_field_tag :startDate,params[:startDate]
					%span -
					%span
						= datetime_field_tag :endDate,params[:endDate]
					.opbtn.important
						%div
							%button.bold{:type=>'submit'} 搜索
				.table_area
					%table.datalist
						%tbody
							%tr
								%th.number 日期
								%th.money_total CPC收入
								%th.money_total CPM收入
								%th.money_total 积分墙收入
								%th.money_total 总收入
						- if @incomeList.blank?
							%tr
								%td{colspan:6,align:'center'} 在查询期间内，没有任何审核记录
						- else
							- @incomeList.each do |obj|
								%tr.old
									%td.number #{obj.created_at.strftime('%Y年%m月%d日')}
									%td.money_total
										=number_with_precision("#{obj.cpc}")
									%td.money_total
										=number_with_precision("#{obj.cpm}")
									%td.money_total
										=number_with_precision("#{obj.intewall}")
									%td.money_total
										=number_with_precision("#{obj.cpc+obj.cpm+obj.intewall}")
				.link_area
					%span{:style=>'float:left; padding-left: 10px;'} 总计：#{number_with_precision(incomeTotal @incomeList)} 元
					%a.operable{:href=>'/member/financial/index'} 返回账户信息
		=render "member/books"






















