!!! 5
%html{lang: "zh"}
  %head
    %meta{charset: "utf-8"}
    %title 平台首页
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery.cookie"
    -if current_member.m_type==2
      = stylesheet_link_tag "advertiser/base"
    -else
      = stylesheet_link_tag "member/base"
      = stylesheet_link_tag "member/finance"
  %body

    -if current_member.m_type==0
      = render 'member/defaultop'
    -if current_member.m_type==1
      = render 'member/develop'
    -if current_member.m_type==2
      = render 'advertiser/advertop'
    = yield
    -if current_member.m_type==2
      = render 'advertiser/footer'
    - else
      = render 'member/footer'